html, body {
  margin: 0;
  padding: 0;
  min-width: 1168px;
}
p, ul, li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1, h2, h3, h4 {
  margin: 0;
}
.btn {
  height: 48px;
  border-radius: 24px;
  background-color: #57886C;
  outline: transparent;
  border: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: #57886C;
  box-shadow: 0px 20px 40px #CDDDD2;
}
.header {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.header .logo-area {
  margin-left: 85px;
  margin-right: 430px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo-area .logo {
  width: 40px;
  height: 40px;
  background: url(./logo.png) center/contain no-repeat;
}
.header .logo-area .title {
  color: #57886C;
  font-size: 23px;
  font-weight: bold;
}
.header .bag {
  margin-left: 350px;
  margin-right: 50px;
  width: 30px;
  height: 30px;
  display: none;
  background: url(./bag.png) center/contain no-repeat;
}
.header .login {
  margin-right: 30px;
  height: 40px;
  width: 114px;
  background-color: #fff;
  color: #57886C;
}
.header .sign-up {
  height: 40px;
  width: 114px;
}
.home {
  height: 791px;
  background: url(./cover.jpg) center/cover no-repeat;
}
.home .introduce {
  position: absolute;
  top: 270px;
  left: 100px;
  width: 550px;
}
.home .title {
  margin-bottom: 20px;
  color: #57886C;
  font-size: 44px;
}
.home .description {
  margin-bottom: 50px;
  color: #333;
  font-size: 18px;
}
.home .input-area {
  width: 343px;
  height: 38px;
  border-radius: 5px;
  background-color: rgba(129, 166, 132, .3);
}
.home .search-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .input-area .search {
  width: 100%;
  height: 100%;
  outline: none;
  border: transparent;
  background: transparent;
  color: #798184;
  text-indent: 40px;
}
.home .order-btn {
  width: 163px;
}
.categories .title {
  margin: 50px auto;
  font-size: 36px;
  text-align: center;
}
.categories .menu-list {
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories .menu-list .menu-item {
  margin: 0 60px;
  width: 183px;
  height: 210px;
}
.categories .menu-list .menu-item .cover {
  width: 183px;
  height: 183px;
}
.categories .breakfast {
  background: url(./breakfast.jpg) center/cover no-repeat;
}
.categories .lunch {
  background: url(./lunch.jpg) center/cover no-repeat;
}
.categories .snacks {
  background: url(./snacks.jpg) center/cover no-repeat;
}
.categories .drinks {
  background: url(./drinks.jpg) center/cover no-repeat;
}
.categories .menu-list .menu-item .name {
  color: #333;
  font-size: 18px;
  line-height: 37px;
}
.categories .view-all {
  margin: 60px auto;
  display: block;
  width: 163px;
}
.works {
  height: 600px;
  background: linear-gradient(to right, #d8e4ea 0%, #f0f6f7 100%);
  overflow: hidden;
}
.works .title {
  margin: 80px auto;
  font-size: 36px;
  text-align: center;
}
.works .step-container {
  display: flex;
  justify-content: center;
}
.works .step {
  width: 253px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step.deliver {
  position: relative;
  margin: 0 200px;
}
.step.deliver::before {
  content: '';
  position: absolute;
  top: 116px;
  left: -140px;
  height: 1px;
  width: 120px;
  background-color: #000;
}
.step.deliver::after {
  content: '';
  position: absolute;
  top: 116px;
  right: -140px;
  height: 1px;
  width: 120px;
  background-color: #000;
}
.step .icon {
  width: 65px;
  height: 65px;
}
.works .step-container .build .icon {
  background: url(./salad.png) center/contain no-repeat;
}
.works .step-container .deliver .icon {
  background: url(./car.png) center/contain no-repeat;
}
.works .step-container .enjoy .icon {
  background: url(./like.png) center/contain no-repeat;
}
.step .intro {
  margin: 30px 0 10px;
  font-size: 28px;
}
.step .detail {
  font-size: 13px;
}
.works .order {
  margin: 60px auto;
  display: block;
  width: 163px;
}
.footer {
  overflow: hidden;
}
.footer .name {
  float: left;
  margin: 60px 60px 0 108px;
  color: #57886C;
  font-size: 18px;
  font-weight: bold;
}
.footer .menu-list {
  float: left;
  margin-top: 60px;
}
.footer .menu-list .item {
  margin-bottom: 4px;
  color: #333;
  font-size: 18px;
}
.footer .contact {
  margin: 60px 108px 0 0;
  float: right;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .photo {
  background: url(./photo.png) center/contain no-repeat;
}
.contact .facebook {
  background: url(./facebook.png) center/contain no-repeat;
}
.contact .bird {
  background: url(./bird.png) center/contain no-repeat;
}
.contact .youtube {
  background: url(./youtube.png) center/contain no-repeat;
}
.footer .contact .icon {
  width: 24px;
  height: 24px;
}
.footer .copyright {
  color: #57886C;
  text-align: center;
  margin: 200px auto 50px;
}
